div.floating-menu {position:fixed;background:#00FF00;border:1px solid #000000;width:200px;z-index:100;padding:5px;margin:15px;}
div.floating-menu a, div.floating-menu h2 {display:block;margin:0 0.5em;text-align:center;}

textarea {
	width:100%;
	height:100%;
}

a img, a img.preview {
	border: none;
	text-decoration: none;
}

html {
	overflow-Y: scroll;
}

body {
	font: 10px normal Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.7em;
}
*, * focus {
	outline: none;
	margin: 0;
	padding: 0;
}
 
.container {
	width: 900px;
	margin: 10 auto;
	padding: 10px;
	align: center;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	text-align: center;
	width:100%;
}

h2.malware {
	color: red;
}

h1 {
	font: 3em normal Verdana, Arial, Helvetica, sans-serif;
	padding: 20px 0;
	color: #111;
}
h1.header {
	color: #ffffff;
}
h1.main {
	text-align:center;
}
h1 span { color: #666; }
h1 small{
	font: 0.3em normal Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing: 1.5em;
	display: block;
	color: #666;
}
h2.trigger {
	padding: 0 0 0 50px;
	margin: 0 0 5px 0;
	background: #555;
	height: 46px;
	line-height: 46px;
	width: 90%;
	font-size: 2em;
	font-weight: normal;
	float: left;
}
h2.trigger a {
	color: #fff;
	text-decoration: none;
	display: block;
}
h2.trigger a:hover {
	color: #ccc;
}

h2.active {background-position: left bottom;}
.toggle_container {
	margin: 0 0 5px;
	padding: 0;
	border-top: 1px solid #d6d6d6;
	background: #f0f0f0 url(../images/toggle_block_stretch.gif) repeat-y left top;
	overflow: hidden;
	font-size: 1.2em;
	clear: both;
	width:95%
}

h2#suspicious {
	background: orange;	
}

h2#malicious {
	background: red;	
}
	
h2#lgobj {
	background: #d49417;
}

h2 {
	color: #555555;
	font: 1.5em normal Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.toggle_container .block {
	padding: 20px;
	background: url(../images/toggle_block_btm.gif) no-repeat left bottom;
	height: 400px;
	overflow: auto;
	overflow-x: hidden;
}
.toggle_container .block p {
	padding: 5px 0;
	margin: 5px 0;
	word-wrap: break-word;
}
.toggle_container h3 {
	font: 1.5em normal Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px dashed #ccc;
	background-color: grey;
	color: white;
}
.toggle_container h4 {
	font: 1.3em normal Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px dashed #ccc;
}
.toggle_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	background: #ddd;
	border: 1px solid #ccc;
}

#nav {
	text-align:center;
	width: 100%;
	background: #555555;
}

#loading {
        display:none;   
	text-align:center;
	border-style:solid;
	border-width:3px;
	border-color:red;
	padding: 10px;
}

#upload_form {
	text-align:center;
	border-style:solid;
	border-width:3px;
	padding: 10px;
}

#search_form {
	text-align:center;
}

#error_msg {
	text-align:center;
	color:red;
}

#related_objects {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
	overflow:scroll;
	overflow-x:hidden;
	height:150px;
}

#report_general_data {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
}

#scan_summary {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
}

#suspicious_objects {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
}

#large_objects {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
}

#report_full {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
}

#image_preview {
	float:right;
}

#help_dialog {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	color: #555555;
}

#all_reports {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	
}

#login_form {
	font: 1.2em normal Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	color: #ffffff;
	font-weight: bold;
}

#register {
	float: left;
}

table {
	width:100%;
}

th {
	font: 1.5em normal Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	font-weight: bold;
	color: #555555;
}

#more_data {
	display:none;
}

#show_more_link {
	text-align: center;
}

#sandbox_js {
	display: none;
}

a:link { color: #d55a0a; text-decoration: none;}
a:visited { color: #d55a0a; text-decoration: none;}
a:active { color: #FFF; text-decoration: none;}
a:hover { color: #000; text-decoration: underline;}

a.flagger:link { color: #800000; text-decoration: none;}
a.flagger:visited { color: #800000; text-decoration: none;}
a.flagger:active { color: #800000; text-decoration: none;}
a.flagger:hover { color: #000; text-decoration: underline;}

form_label {
	width:150px;
	float:left;
	color: #555555;
	font: 1.5em normal Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#comments {
	float:left;
	margin:5px;
}
