<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>PDF X-RAY: Interactive PDF: {{ results.file_md5 }}</title>
    <link rel="stylesheet" type="text/css" href="/media/css/shared.css"> 
    <link rel="stylesheet" type="text/css" href="/media/css/style.css"> 
	<link rel="stylesheet" type="text/css" href="/media/css/jquery-ui-1.8.11.custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <script src="/media/js/interact.js" type="text/javascript"></script>
    {% if request.user.is_superuser %}
    <script src="/media/js/options_tool.js" type="text/javascript"></script>
    {% endif %}
	<script src="/media/js/jquery-ui-1.8.11.custom.min.js" type="text/javascript"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25019409-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>    
</head>
<body>
    {% autoescape on %}
    <div id="drop_storage" name="{{ results.file_md5 }}"></div>

    {% if request.user.is_superuser %}
    <div class="floating-menu">
    <h2>FLAGS</h2>
    <h3><input type="button" value="MALICIOUS" id="flagged_malicious"/></h3>
    <h3><input type="button" value="NON-MALICIOUS" id="flagged_non-malicious"/></h3>
    <br>
    <h2>TAGS</h2><h3><div id="file_tag_status"></div></h3>
    <br><br>
    </div>
    {% endif %}

    <div id="container" class="container">
	<div id="help_dialog"></div>
	<div id="nav">
      <h1 class='header'><a href="/submit/">Submit</a> || <a href="/about/">About</a> || <a href="/reports/">Reports</a> || <a href="/api/">API</a> || <a href="/search/">Search</a></h1>    
        <hr><br>        
	    {% if request.user.is_authenticated %}        
		<h2 class='header'><a href="/my_account/">My Account</a> || <a href="/logout/">Logout</a></h2>  
	    {% else %}
	    <div id="login_form">
		<form action="/process_login/" method="POST" enctype="multipart/form-data">
		  {% csrf_token %}
		  Username: {{ login.username }}
		  Password: {{ login.password }}
		  <input type="submit" value="Login" />
		  <input type="button" value="Register" onclick="window.location.href='/register/'"> 
		</form>
	    </div>  
	    {% endif %}
	    <br>
	</div>
	
	<h1>Summary: <a href="/report/{{ results.file_md5 }}">{{ results.file_md5 }}</a></h1>
    
        <div id="general_data">
            <h2 class="trigger"><a href="#">General Data</a></h2>
            <div class="toggle_container">
            <div class="block">
                <h3>MD5</h3>
                <p>{{ results.file_md5 }}</p>
                <h3>SHA1</h3>
                <p>{{ results.file_sha1 }}</p>   
                <h3>SHA256</h3>
                <p>{{ results.file_sha256 }}</p>
                <h3>PDF Header</h3>
                <p>{{ results.header }}</p>
                <h3>File Size</h3>
                <p>{{ results.filesize }}</p>
                {% for component in results.components %}
                    <h3>{{ component.name }}</h3>
                    <p>{{ component.count }}</p>
                {% endfor %}                
            </div>
            </div>
        </div>
        
        <div id="named_functions">
            <h2 class="trigger"><a href="#">Named Functions</a></h2>
            <div class="toggle_container">
            <div class="block">
                {% for keyword in results.keywords %}
                    {% if keyword.hex_count > 0 %}
                        <h4>{{ keyword.name }} : {{ keyword.count }} ( {{ keyword.hex_count }} )</h4>
                    {% else %}
                        <h3>{{ keyword.name }} : {{ keyword.count }}</h3>
                    {% endif %}
                {% endfor %} 
            </div>
            </div>
        </div>
	
	<div id="versions">
            <h2 class="trigger"><a href="#">File Versions</a></h2>
            <div class="toggle_container">
            <div class="block">
                {% for version in results.versions %}
		    <h3>Version {{version.version}}</h3>
		    <p><b>Total Objects:</b> {{version.total_objects}}</p>
		    <p><b>Object IDs:</b> {% for id in version.object_ids %} {{id}} {% endfor %}</p>
		    <p><b>Suspicious Actions Present:</b> {{version.suspicious_actions_present}}</p>
		    <p><b>Suspicious Elements Present:</b> {{version.suspicious_elements_present}}</p>
		    <p><b>Suspicious Events Present:</b> {{version.suspicious_events_present}}</p>
		    <p><b>Vulnerabilities Present:</b> {{version.vulnerabilities_present}}</p>
		    <p><b>Author:</b> {{version.author}}</p>
		    <p><b>Creator:</b> {{version.creator}}</p>
		    <p><b>Producer:</b> {{version.producer}}</p>
		    <p><b>Creation Date:</b> {{version.creation_date}}</p>
		    <p><b>Modification Date:</b> {{version.modification_date}}</p>
                {% endfor %} 
            </div>
            </div>
        </div>

        <!--<div id="related_malware">-->
	    <!--<h2 class="trigger"><a href="#">Related Malware</a></h2>-->
            <!--<div class="toggle_container">-->
            <!--<div class="block">-->
		<!--{% for robj in results.robjs %}-->
		    <!--<h3><a href="/interact/{{ robj.file_hash }}">{{ robj.file_hash }}</a> object {{robj.mobj_id}} is closely related to object {{robj.sobj_id}} from your upload</h3>-->
				
		    <!--{% empty %}-->
		    <!--<h3>No related files</h3>-->
		<!--{% endfor %} -->
	    <!--</div>-->
            <!--</div>-->
        <!--</div> -->
	
        <div id="scans">
            <h2 class="trigger"><a href="#">Scans</a></h2>
            <div class="toggle_container">
            <div class="block">
		{% if request.user.is_superuser %}
		{% for scanner in results.virustotal_scan_results %}
		    {% if scanner.signature != "" %}
			<h4>{{ scanner.antivirus }} : {{ scanner.signature }} </h4>
		    {% else %}
			<h4>{{ scanner.antivirus }} : {{ scanner.signature }}</h4>
		    {% endif %}
		    		
		    {% empty %}
		    <h3>No scan results</h3>
		{% endfor %} 
		{% if results.virustotal_permalink %}
		    <p>Scan provided by <a href="{{ results.virustotal_permalink }}" target="_blank">VirusTotal</a>
		{% endif %}
		{% endif %}
		<h3>No scan results</h3>
            </div>
            </div>
        </div> 
        
       <div id="suspicious_objects">
	    {% for object in results.objs %}
		<div id="object_{{object.id}}" class="objects">
		    <h2 class="trigger" {% if object.suspicious_actions or object.suspicious_elements or object.suspicious_events or object.vulns %} id="suspicious" {% endif %}><a href="#">Object: {{object.id}} : @offset {{object.offset}} : {{object.size}} bytes {% if object.contains_js %} : contains JS {% endif %} {% if object.vulns %} : potential vulnerabilities {% endif %}</a></h2>

            <div id="comments">
            {% if request.user.is_superuser %}
                <a href="#" name="{{object.raw_hash}}_{{ results.file_md5 }}" class="add_analysis"><img id="{{object.raw_hash}}_img" src="/media/img/pencil.jpg" class="{{object.raw_hash}}_img" height="30" width="30"/></a>
            {% endif %}
            </div>

			<div class="toggle_container">
		    <div class="block">		    
		    <h3>Raw Data</h3>
		    <p>{{object.raw}}</p>
		    <h3>Raw Data Hash</h3>
		    <p>{{object.raw_hash}}</p>
		    <h3>Encrypted?</h3>
		    <p>{{object.encrypted}}</p>
		    {% if object.references %}
			<h3>References</h3>
			{% for item in object.references %}
			    <p>{{item}}</p>
			{% endfor %}
		    {% endif %}
		    
		    {% if object.stream %}
			{% if object.stream_decoded_stream %}
			    {% if request.user.is_authenticated %}   
				{% if request.user.username in object.flag_users %}
				    {% for item in object.stream_flags %}
					{% if item.user == request.user.username %}
					    {% if item.malicious == "true" %}
						<h3>Decoded Stream - you marked this as <font color="#800000">malicious</font> and {{object.flagged_malicious}} others agree</h3>
					    {% else %}
						<h3>Decoded Stream - you marked this as non-malicious and {{object.flagged_non_malicious}} others agree</h3>
					    {% endif %}
					{% endif %}
				    {% endfor %}
				{% else %}
				    <h3>Decoded Stream - <a class="flagger" name="{{object.stream_decoded_hash}}" id="malicious" href="#">malicious</a> || <a class="flagger" name="{{object.stream_decoded_hash}}" id="non_malicious" href="#">not malicious</a> || {{object.flagged_malicious}} others marked this as malicious</h3>
				{% endif %}
			    {% else %}
				<h3>Decoded Stream - {{object.flagged_malicious}} users marked this as <font color="#800000">malicious</font></h3>
			    {% endif %}			
			    {{object.stream_decoded_stream|linebreaks }}
			    {% if object.stream_js_code %}
				<h3>Sandbox JS Code</h3>
				<form target="_blank" method="post" action="http://jsfiddle.net/api/post/mootools/1.2/dependencies/more/">
				    {% for code in object.stream_js_code %}
					<textarea name="js" id="sandbox_js">{{code}}</textarea>
				    {% endfor %}
				    <br><input type="submit" value="Execute"/>
				</form>
				<br>
			    {% endif %}
			    <h3 class="trigger">Stream Hex (click to show)</h3>
			    <p class="details">{{object.stream_decoded_hex}}</p>	
			{% else %}
			    <p>{{object.stream_encoded_stream|linebreaks }}</p>
                            <h3 class="trigger">Stream Hex (click to show)</h3>
                            <p class="details">{{object.stream_encoded_hex}}</p>
			{% endif %}
		    {% endif %}

		    {% if object.suspicious_actions %}
			<h3>Suspicious Actions</h3>
			{% for item in object.suspicious_actions %}
			    <p>{{item}}</p>
			{% endfor %}
		    {% endif %}
		    
		    {% if object.suspicious_elements %}
			<h3>Suspicious Elements</h3>
			{% for item in object.suspicious_elements %}
			    <p>{{item}}</p>
			{% endfor %}
		    {% endif %}
		    
		    {% if object.suspicious_events %}
			<h3>Suspicious Events</h3>
			{% for item in object.suspicious_events %}
			    <p>{{item}}</p>
			{% endfor %}
		    {% endif %}
		    
		    {% if object.vulns %}
			<h3>Potential Vulnerabilities</h3>
			{% for item in object.vulns %}
			    <p>{{item}}</p>
			{% endfor %}
		    {% endif %}
		
		    </div>
		    </div>
		</div> 
	    {% endfor %} 
	</div>
	
    </div>
    {% endautoescape %}
</body>
</html>

